/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ===All-=================================================================== */
@font-face {
 font-family: "Gilroy Extrabold";
 	src: url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("../fonts/gilroy-extrabold-webfont.woff") format("woff"), 
		url("../fonts/gilroy-extrabold-webfont.ttf") format("ttf"),
		url("../fonts/gilroy-extrabold-webfont.svg") format("svg"),
		url("../fonts/gilroy-extrabold-webfont.eot") format("eot");
}

a {
	color: black;
	text-decoration: none;
}



* {
	font-family: 'Titillium Web', sans-serif;
}

section > h2 {
	font-family: 'Gilroy Extrabold', sans-serif;
	text-transform: uppercase;
}

footer section h2, main section:first-child > h2 {
	color: white;
	text-transform: initial;
}

	
/* ===Header================================================================= */

nav a {
	color: white !important;
}

nav a:hover {
	color: grey !important;
}



/* ===Main=================================================================== */
/*===Section1===*/
/*Titre Section*/
main section:first-child > h2 {
	margin-top: 50vh;
	margin-bottom: 30vh;
}


/*La vidéo de fond*/
div#videocontainer {
	position: absolute;
	right: 0;
  	bottom: 0;
  	z-index: -100;
}


video#bgvid {
  position: fixed;
  min-width:100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url(../vid/snapshots/Pour.jpg) no-repeat;
  background-size: cover;
}

/*La flèche*/
main section span a {
	display: flex;
}

i.fa-arrow-down {
	margin: auto;
	color: white;
	font-size: 4em;
}


/* ===Footer================================================================= */





